/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;;
}

ul {
    
    border-radius: 10px;
    padding-left: 0;
    margin-bottom: 0;
    
}

li {
    cursor: pointer;
    position: relative;
}

li i {
    position: absolute;
    right: 15px;
    top: 12px;
}


input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-color: black;
}

button {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


.list-group {
    padding: 0;
    margin: 0;
}

.done {
    text-decoration: line-through;
}

.done:hover {
    text-decoration: line-through;
}
